# ============[ Begin Blacklist ]=========================
*

# ============[ Whitelist ]=========================
!**/
!LICENSE
!*.license.txt
!*.gitignore
!*.csproj
!*.sln
!*.cs
!*.xaml
!*.jpg
!*.png
!*.gif
!*.editorconfig
!*.svg
!*.md
!**/_TestData
!*.snippet
!*.docklayout

# ============[ And finally nix these ]=========================
*Settings.Designer.cs
**/_ignore
**/obj
**/Debug
**/Release